@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@font-face {
  font-family: "specify";
  src: url("../assets/specify-extended-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Uber Medium";
  src: url("../assets/font/UberMove/UberMove-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Uber Bold";
  src: url("../assets/font/UberMove/UberMove-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Uber Light";
  src: url("../assets/font/UberMove/UberMove-Light.otf") format("opentype");
}
@font-face {
  font-family: "Uber Regular";
  src: url("../assets/font/UberMove/UberMove-Regular.otf") format("opentype");
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  color: white;
  scroll-behavior: smooth;
  cursor: url(/assets/cursor.svg), auto;
  box-sizing: border-box;
}

img, svg {
  max-width: 100%;
}

@media (max-width: 480px) {
  .container {
    padding: 0 20px;
  }
}

html, body {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

body {
  background: #0A0A0A;
  margin-top: 184px;
}

h1 {
  font-family: "specify";
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
}

h2 {
  font-family: "Uber Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 12px;
}

p, a {
  font-family: Uber Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.navbar {
  background: rgba(10, 10, 10, 0.4);
  z-index: 9999;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 620px;
  overflow: auto;
  background-image: url("../assets/img/ambiance 2/ambience@3x.png");
  background-size: cover;
  background-position: bottom;
}
header .title {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
  text-align: center;
  background: linear-gradient(90deg, #FFFFFF 0%, #ADC1E0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .title img {
  position: absolute;
}
header .subtitle {
  margin-bottom: 100px;
}
header a {
  align-self: center;
}
header a button {
  align-self: center;
  background: #FFFFFF;
  border-radius: 46px;
  padding: 18px 36px;
  font-family: Uber Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #0A0A0A;
  margin-bottom: 80px;
}
@media (max-width: 480px) {
  header a button {
    font-size: 14px;
    line-height: 28px;
    font-weight: normal;
    padding: 8px 16px;
  }
}
header a button img {
  margin-left: 15px;
}
header .separator {
  margin-bottom: 40px;
}
header p {
  font-family: Uber Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: white;
}
header .ambient {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
main .wrap {
  width: 1240px;
  display: flex;
  flex-direction: column;
  gap: 160px;
}
main .wrap #brand-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 52px 0px;
}
main .wrap #brand-section div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 260px;
}
main .wrap #about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: -80px;
}
main .wrap #about .iam {
  gap: 20px;
  width: 100%;
}
main .wrap #about .iam img {
  width: 400px;
}
main .wrap #about .desc {
  background: #232424;
  width: 100%;
  border-radius: 40px;
  padding: 64px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
main .wrap #about .desc span {
  background: linear-gradient(90.02deg, #5965FA 15.36%, #C654FB 53.43%, #F0A26D 84.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .wrap #about .desc h1 {
  font-family: Uber Medium;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
}
main .wrap #about .desc .block .question {
  font-family: "Uber Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #7B7B7B;
}
main .wrap #about .desc .block .answer {
  font-family: "Uber Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}
main .wrap #selected {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
main .wrap #selected .wrap {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
main .wrap #selected a {
  text-decoration: none !important;
}
main .wrap #selected .selected {
  overflow: hidden;
  background: linear-gradient(180deg, #222323 0%, rgba(34, 35, 35, 0) 100%);
  height: 520px;
  border-radius: 20px;
}
@media (min-width: 640px) {
  main .wrap #selected .selected {
    height: 720px;
    border-radius: 40px;
  }
}
main .wrap #selected .selected__header {
  padding: 40px;
  width: 100%;
}
main .wrap #selected .selected__header p {
  text-transform: capitalize;
  color: #787878;
  text-align: right;
  margin-bottom: 20px;
}
main .wrap #selected .selected__header h3 {
  font-family: Uber Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: right;
  font-weight: 400;
  margin-bottom: 20px;
}
main .wrap #selected .selected__header label {
  background: #2194FF;
  padding: 8px;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
}
main .wrap #selected .selected__body {
  position: relative;
  height: 100%;
  padding: 0px 40px;
}
main .wrap #selected .selected__body img {
  max-width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
main .wrap h2 {
  text-align: center;
  font-family: specify;
}

.bintang-60 {
  display: flex;
  margin: 40px auto;
  height: 60px;
  width: 60px;
}

footer {
  padding: 120px 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  cursor: auto;
}
footer h2 {
  color: black !important;
  text-transform: unset;
  margin: 0 auto;
  cursor: default;
}
footer .social {
  width: 100%;
  max-width: 100%;
  margin-top: 84px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}
footer .social a {
  cursor: pointer;
  font-family: Uber Regular;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.5em;
  color: #000000;
  text-transform: uppercase;
}

.top {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 36px;
  right: 36px;
  border-radius: 250px;
  box-shadow: 0px 6px 21px rgba(47, 70, 104, 0.16);
}
.top img {
  height: 48px;
  width: 48px;
}

@media (min-width: 992px) {
  .offcanvas {
    visibility: visible;
    position: relative;
    border: none;
    justify-content: flex-end;
    color: red;
  }
  .offcanvas .navbar-nav {
    align-items: center;
  }
  .offcanvas .navbar-nav .nav-item {
    margin: 0 30px;
  }
  .offcanvas .navbar-nav .nav-item:nth-child(1) {
    margin-left: 0px;
  }
  .offcanvas .navbar-nav .nav-item:nth-last-child(2) {
    margin-right: 0px;
  }
  .offcanvas .navbar-nav .nav-item .nav-link {
    padding: 0px;
    color: white;
  }
  .offcanvas .navbar-nav .nav-item.nav-link {
    color: white;
    font-weight: normal;
  }
  .offcanvas .navbar-nav #logo-wrapper {
    max-width: unset;
    height: 84px;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
  }
  .offcanvas .navbar-nav #logo-wrapper .logo {
    height: 100%;
  }
}
@media (max-width: 720px) {
  .top {
    bottom: 20px;
    right: 20px;
  }
  .top img {
    height: 36px;
    width: 36px;
  }
  .flex-grow-1.custom {
    flex-grow: 1.3 !important;
  }
  .navbar-toggler {
    height: 24px;
    width: 24px;
    padding: 0px !important;
    margin: 0px !important;
  }
  .nuha {
    height: 48px;
  }
  body {
    margin-top: 90px;
  }
  h2 {
    font-size: 20px;
    line-height: 28px;
  }
  header .title {
    margin: 0px 6vw;
    width: auto;
    font-size: 24px;
    line-height: 33px;
    font-weight: normal;
    text-align: center;
    background: -webkit-linear-gradient(90.03deg, #FFFFFF 0.01%, #ADC1E0 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
  }
  header .title img {
    height: 4vw;
  }
  header .subtitle {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 60px;
  }
  header > img {
    height: 30%;
    right: 0px;
    bottom: 15px;
  }
  header button {
    margin-bottom: 40px;
  }
  header #brand-section {
    flex-wrap: wrap;
    flex-direction: row;
  }
  header #brand-section div {
    height: -moz-min-content;
    height: min-content;
    width: auto;
    width: 84px;
    height: 20px;
  }
  header #brand-section .bukalapak {
    width: 124px;
    height: 20px;
    margin: 0px 100px;
    margin-bottom: 26px;
  }
  .offcanvas {
    width: 100%;
    -webkit-backdrop-filter: blur(24px);
            backdrop-filter: blur(24px);
  }
  .offcanvas .navbar-nav {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
  }
  .offcanvas .navbar-nav li {
    margin-top: 40px;
  }
  .offcanvas .navbar-nav li:nth-last-child(1) {
    margin-top: 66px;
  }
  .offcanvas-start-lg {
    background-color: rgba(10, 10, 10, 0.4) !important;
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
  }
  .offcanvas-start-lg .navbar-nav li a {
    color: #fff !important;
  }
  #selected .selected {
    height: -moz-min-content;
    height: min-content;
  }
  #selected .selected__header p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
  }
  #selected .selected__header h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  #selected .selected__header label {
    font-size: 10px;
    line-height: 12px;
    padding: 6px 8px;
  }
  #selected .selected__body {
    position: relative;
  }
  #selected .selected__body img {
    position: relative;
  }
  #about .iam img {
    width: 400px;
  }
  footer {
    padding: 60px 20px;
  }
  footer h2 {
    text-align: center;
    font-size: 20px;
    line-height: 28px;
  }
  footer .social {
    flex-direction: column;
    justify-content: start;
  }
  footer .social a {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 17px;
  }
}/*# sourceMappingURL=main.css.map */